html{
    background-color: rgb(51, 48, 48);
    margin: auto;
    line-height: 0.6;
    }
body{
    width: 1000px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    padding: 10px 20px 20px 20px;
    border: 5px solid rgb(12, 160, 78);
}
h1{
    margin: 0;
    padding: 20px 0;
    text-align: center;
    color: #00389f;
    text-shadow: 1px 2px 1px rgb(58, 105, 235);
}
#table1,td{
    padding: 10px;
    border: 1px solid black;
    border-collapse: collapse;
}
#table2.tr{
    padding: 15px;
    border-collapse: collapse;
}
#name-img{
    width: 38px;
    margin: 0px 0px 0px 0px;
}
#inner{
    border:3px solid black;
}
