html{
    background-image: radial-gradient(rgb(84, 84, 233),rgb(51, 45, 45));
    margin: auto;
    line-height: 0.5;
    font-family: "Lucida Console", "Courier New", monospace;
}
.btn {
    background-color: rgb(68, 83, 97);
    right: 50%;
    text-align: center;
    border: 2px solid rgb(49, 152, 221);
    color: white;
    padding: 4px 4px;
    font-size: 14px;
    cursor: pointer;
    box-shadow: 0 5px #999;
  }
.btn:hover {
    background-color: rgb(70, 168, 207);
}
.btn:active {
    background-color: rgb(35, 139, 224);
    box-shadow: 0 2px #666;
    transform: translateY(3px);
}
.mode {
    background-color: #1b862d;
    border: 2px solid violet;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    cursor: pointer;
}
.mode:hover {opacity: 1}
#start{
    padding: 10px 10px;
    font-size: 20px;
    position: absolute;right: 47%;
}
header{
    background-color: rgb(0, 0, 0);
    padding: 100px 100px 100px 100px;
}
body{
    width: 1000px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    padding: 10px 20px 20px 20px;
    border: 5px solid rgb(12, 160, 78);
}
h1{
    margin: 0;
    padding: 20px 0;
    text-align: center;
    color: #00389f;
    text-shadow: 1px 2px 1px rgb(58, 105, 235);
}
#table1,td{
    padding: 10px;
    border: 1px solid black;
    border-collapse: collapse;
}
#table2.tr{
    padding: 15px;
    border-collapse: collapse;
}
.grid-container1{
    width:50%;
    display: grid;
    grid-template-columns: repeat(6,50px);
    grid-template-rows: repeat(6,50px);
    padding: 10px;
    gap: 2px;
}
.grid-container2{
    width:50%;
    display: grid;
    grid-template-columns: repeat(4,50px);
    grid-template-rows: repeat(4,50px);
    padding: 10px;
    gap: 2px;
}
.grid-item {
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 8px;
}
#name-img{
    width: 30px;
    margin: 0px 0px 0px 0px;
}
#stopwatch{
    width: 20px;
}
#inner,#inner2{
    border:3px solid black;
}
#modal{
    display: none;
    margin: auto;
    padding: 20px;
    border: 10px solid #888;
    width: 80%;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.3); /* Black w/ opacity */
}
.close{
    float: right;
}
button:hover,
button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
